*{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 30px;
    align-items: center;
}
.container .texto{
    font-size: 34px;
    text-decoration: none;
    text-align: center;
}

.button {
    margin-top: 5px;
    margin-bottom: 30px;
}

.texto{
    text-align: left;

}
.inputs{
    text-decoration: none;

}

